<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-lazy-init="true">

	<context:component-scan base-package="com.cheven.myserver.ioctest"></context:component-scan>
	<context:component-scan base-package="com.cheven.myserver.aoptest"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<bean id="loggingAspect" class="com.cheven.myserver.aoptest.LoggingAspect">
	</bean>
	
	<bean id="caculator" class="com.cheven.myserver.aoptest.Caculator">
	</bean>
	
	
	
	<bean id = "ScrewDriver" class="com.cheven.myserver.ioctest.ScrewDriver">
	</bean>
	
	<!-- 
	<bean id = "header" class="com.cheven.myserver.ioctest.StraightHeader">
		<constructor-arg name="color" value="${color}"></constructor-arg>
		<constructor-arg name="size" value="${size}"></constructor-arg>
	</bean>
	 -->
	
	<bean id="hearderProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:header.properties"></property>	
	</bean>
</beans>